asgiref==3.11.1
certifi==2026.4.22
charset-normalizer==3.4.7
Django==6.0.4
idna==3.13
mssql-django==1.7.1
numpy==2.4.2
pandas==3.0.1
pillow==12.2.0
pyodbc==5.3.0
python-dateutil==2.9.0.post0
pytz==2026.2
reportlab==4.5.0
requests==2.33.1
six==1.17.0
sqlparse==0.5.5
tzdata==2025.3
urllib3==2.6.3
